@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AngularApplication

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/lib/bootstrap.min.css">

</head>
<body>
    @RenderBody()
    <partial name="_AutoLogin"  />
    @await RenderSectionAsync("Scripts", required: false)
     
</body>
</html>