@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AngularApplication
@model Button

<view-box style="Model">
    
        <div style="padding: 5px; margin: 5px; height: 20px; word-break: keep-all;" 
              onclick="$app.$invoke.$method('@Model.GetContentPath()', 'Click',{})"
              align="center">
                     
                @if (Model.IconOrText)
                {
                    <i class="material-icons">@Model.Icon</i>
                }
                else
                {
                    @Model.Label 
                }
        </div>
</view-box>