@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AngularApplication
 
@model Table

sdfs

<div style="width: 320px;">
    <table >
        <thead>
            <tr>
                @foreach (var p in Model.Columns)
                {
                    <th>@p</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.Cells)
            {
                <tr>
                    @foreach (var p in row)
                    {
                        <td style="word-break: break-all;">@p</td>
                    }
                </tr>
            }


        </tbody>
    </table>
</div>