@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AngularApplication
@model FormField

 
<table class="table">
    <tbody>
        @foreach (var row in (dynamic)(Model.Value))
        {
            <tr>
                @foreach (object cell in row)
                {
                    <td>@cell</td>
                }
            </tr>
        }
    </tbody>
</table>
 