@using AuthorizationMVC
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div align="center">
    <form method="post" action="/Logout">
        <input type="hidden" id="Confirmed" name="Confirmed" />
        <input type="submit" id="SubmitButton" style="display: none;"/>
    </form>
    <div class="content-box"
         style="width: 480px; padding: 20px;">
        <h2 style="width: max-content;">Подтвердите действие.</h2>
        
        <p>Вы действительно хотите выйти из приложения?</p>
        <div align="center">
            <button class="btn btn-danger" onclick="Confirmed.value = 'True'; SubmitButton.click();">Да</button>
            <button class="btn btn-info" onclick="Confirmed.value='False'; SubmitButton.click();">Нет</button>
        </div>
    </div>
</div>